body,html{
    width: 100%;
    overflow-x: hidden;
}

.right{
    float: right;
}

.blog-container{
    width: 80%;
    margin: 0 auto;
}
#container-login{
  width: 100%;
}

#wrapper{
  width: 50%;
  float: right;
  clear: both;
  }

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
   text-align: center;
}

.header{
  top:0;
  position:absolute;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
}

.error{
  color: red;
  font-size: 20px;
}