{% extends "home.html" %}
{% block title %}
    Forum
{% endblock %}
{% block content %}
    <nav class="header">
        <h2 class="nav-user right-margin"> Hello, {{user.name}} !</h2>
        <span class="nav-form right">
        <form  action = "/blog/newpost" class="right-margin">
            <button class="btn btn-warning"> Post a new blog! </button>
        </form>
        <form  action = "/logout" id="logout">
            <button class="btn btn-danger"> Log Out! </button>
        </form>
        </span>
    </nav>
    <div id="blog-content">
        {% block blogContent %}
        {% endblock %}
    </div>
{% endblock %}