 <head>
    <title>{% block title %}{% endblock %} Poonam's Blog</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
 <div id="login" class="animate form">
      <form  action="/welcome" method="post" autocomplete="on">
        <h1>Log in</h1>
        <p>
          <label for="username" class="uname"> Your email or username </label>
          <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
        </p>
        <p>
          <label for="password" class="youpasswd"> Your password </label>
          <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
        </p>
        <p class="error">{{error}}</p>
        <p class="login button">
          <input type="submit" value="Login" />
        </p>
        <!-- <p class="change_link">
          <strong>Not a member yet ?</strong>
          <a href="#toregister" class="to_register">Join us</a>
        </p> -->
      </form>
    </div>