{% extends "login.html" %}
{% block title %}
    Welcome Page
{% endblock %}
{% block content %}
    <nav class="header">
        <a href="#"> Welcome, username!</a>
        <form  action = "" id="logout" class="right">
            <div>
                <button> Log Out! </button>
            </div>
        </form>
        <form  action = "/newBlogForm">
            <div>
                <button> Post a new blog! </button>
            </div>
        </form>
    </nav>
    <div id="welcome-content">
        {% block welcomeContent %}
        {% endblock %}
    </div>
{% endblock %}